.Button {
  color: #fff;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.Button:hover {
  color: rgb(206,206,206);
  background: rgb(135,0,0);
}
.Button:active {
  background: yellow;
}